/* button styles */

.base-btn {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

button {
    border: 8px;
    padding: 20 43 px;
}

.one {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.first {
    display: flex;
    margin: 64px 145px;
    background: rgba(229, 84, 115, 0.10);
    padding-left: 50px;
}

h1 {
    max-height: 700px;
    max-width: 280px;
}

.img1 {
    padding-right: 2px;
}